.main{
    display: flex;
    position: relative;
    justify-content: center;
}

.main__arrow__left{
    position: absolute;
    top: 450px;
    height: 1.5rem;
    left: 0 ;

}

.main__arrow__right{
    position: absolute;
    top: 450px;
    right: 0 ;
    height: 1.5rem;
    z-index: 1;
}

.main__grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr .5fr .5fr .5fr .5fr 1fr ;
    grid-template-rows: 0.5fr 1fr 1fr 1fr  ;
}
.main__img{
    display: flex;
    height: 100%;
    width: 100%;
    grid-row:1/5 ;
    grid-column: 4/-1;
    z-index: -1;
    
}
.main__outer__circle{
    display: flex;
    grid-row:2/4 ;
    grid-column: 3/6;
    height:300px;
    width: 300px;
    border: 1px solid var(--clr-amber);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-amber);
}
.main__inner__circle{
    display: flex;
    height:270px;
    width: 270px;
    border: 8px dashed var(--clr-light);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


.main__circle__message{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    font-size: var(--size-6xl);
}

.main__title__message{
    margin-left: 5rem;
    grid-row:2/4 ;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items:flex-start;
    justify-content: center;
    
}
.main__title__message__large{
    font-size: var(--size-4xl);
}
.main__title__message__large__pharmacy{
    font-size: 6rem;
}
.main__btn{
    display: flex;
    align-items: center;
    width:10rem ;
    opacity: 1;
}

.main__btn:hover{
    opacity: 0.5;
}
